.productArrContainer {
  display: flex;
  /* background-color: #f0f0f0; */
  gap: 20px;
  padding: 20px;
  justify-content: center;
  border: 2px solid green;

  & li {
    list-style: none;
  }
}

.productContainer {
  text-align: center;
  margin: 0;
  padding: 0;
  /* border: 2px solid red; */
}
.productImage {
  margin: 0 auto;
  /* border: 2px solid purple; */
  object-fit: contain;
}

.productList {
  padding: 0;
  width: 150px;
}
.productImageContainer {
  width: 100%;
  /* border: 2px solid black; */

  & img {
    width: 100%;
    height: 100px;
    margin: 0 auto;
  }
  &.productImageName {
    height: 3.125rem;
    text-align: center;
    width: 90%;
  }
}

.productName {
  font-size: 1rem;
}

.productList {
  padding: 0;
  width: 150px;
}
