.serviceWrapper {
  display: flex;
  flex-direction: column;

  @media (width < 767px) {
    align-items: center;
  }
}
.serviceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  @media (width > 767px) {
    flex-direction: row;
    gap: 20px;
  }
}
.service {
  cursor: pointer;
  display: flex;

  & p {
    display: inline;
  }
}
p:hover {
  color: hsl(10, 85%, 55%);
}
.serviceSpan {
  font-size: 0.75rem;

  @media (width < 768px) {
    font-size: 0.625rem;
  }
}
