.paymentWrapper {
  display: flex;
  flex-direction: column;

  @media (width < 767px) {
    align-items: center;
  }
}

.payment {
  cursor: pointer;

  & p {
    display: inline;

    &:hover {
      color: hsl(10, 85%, 55%);
    }
  }
}

.paymentSpan {
  display: flex;
}
.paymentLogoContainer {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 5px;

  @media (width > 767px) {
    flex-direction: row;
    gap: 20px;
  }
}
.paymentLogo {
  display: flex;
  height: 0.75rem;
  @media (width > 767px) {
    height: 1rem;
  }
}
.paymentLogoGcash {
  height: 1rem;
  @media (width > 767px) {
    height: 1.5rem;
  }
}
